@media (max-width: 1820px) {
  .specials .specials__content .content__wrapper {
    max-width: 500px;
  }
}
@media (max-width: 1720px) {
  .products .products__content {
    padding: 80px 15% 0;
  }
  .specials .specials__content {
    margin: 0 15%;
  }
  .main-product .main-product__name,
  .main-product .main-product__describe,
  .main-product .main-product__detailed {
    left: 15%;
  }
  .contacts {
    margin: 0 15%;
  }
}
@media (max-width: 1500px) {
  .products .products__content {
    padding: 80px 10% 0;
  }
  .specials .specials__content {
    margin: 0 10%;
  }
  .main-product .main-product__name,
  .main-product .main-product__describe,
  .main-product .main-product__detailed {
    left: 10%;
  }
  .contacts {
    margin: 0 10%;
  }
  .politics .politics__content {
    margin: 0 10%;
  }
}
@media (max-width: 1300px) {
  .products .products__content {
    padding: 80px 5% 0;
  }
  .specials .specials__content {
    margin: 0 5%;
  }
  .main-product .main-product__name,
  .main-product .main-product__describe,
  .main-product .main-product__detailed {
    left: 5%;
  }
}
@media (max-width: 1170px) {
  .products {
    height: 930px;
  }
  .products .products__content .content__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .products .products__content .content__wrapper .wrapper__item {
    width: 33.4%;
    margin: 0 10px 10px;
  }
  .contacts {
    margin: 0 5%;
  }
  .politics .politics__content {
    margin: 0 5%;
  }
}
@media (max-width: 1120px) {
  .specials .specials__content .content__wrapper {
    margin: 0 10px 0;
  }
  .contacts {
    height: 120px;
    flex-wrap: wrap;
  }
  .contacts .contacts__social-networks {
    flex-basis: 50%;
    justify-content: center;
  }
  .contacts .contacts__address {
    flex-basis: 50%;
    justify-content: center;
  }
  .contacts .contacts__requisites {
    flex-basis: 100%;
    justify-content: center;
  }
}
@media (max-width: 1050px) {
  .info .info__title {
    margin-left: 5%;
  }
  .info .info__contacts {
    margin-right: 5%;
  }
}
@media (max-width: 860px) {
  .politics {
    height: 96px;
  }
  .politics .politics__content {
    flex-wrap: wrap;
  }
  .politics .politics__content span,
  .politics .politics__content a {
    flex-basis: 100%;
    height: 32px;
  }
  .politics .politics__content span {
    font-size: 10px;
  }
}
@media (max-width: 690px) {
  .info {
    flex-wrap: wrap;
    height: 150px;
    justify-content: space-between;
  }
  .info .info__title,
  .info .info__contacts {
    flex-basis: 100%;
    justify-content: center;
  }
  .info .info__title {
    margin-left: 0;
  }
  .info .info__contacts {
    margin-right: 0;
  }
  .info .info__contacts .phone {
    margin-left: 30px;
  }
  .services {
    height: 120px;
    display: flex;
    flex-wrap: wrap;
  }
  .services a {
    flex-basis: 33.3%;
  }
  .services a:not(:first-child) {
    margin-left: 0px;
  }
  .specials {
    height: 450px;
  }
  .specials .specials__content {
    flex-direction: column;
    justify-content: center;
  }
  .specials .specials__content .content__wrapper {
    margin: 0 auto 10px;
  }
  .main-product {
    height: 300px;
    background-size: 1000px auto;
  }
  .main-product .main-product__name,
  .main-product .main-product__describe,
  .main-product .main-product__detailed {
    position: absolute;
    left: 5%;
  }
  .main-product .main-product__name {
    top: 20px;
    font-size: 30px;
  }
  .main-product .main-product__describe {
    font-size: 12px;
    top: 100px;
    width: 180px;
  }
  .main-product .main-product__detailed {
    top: 180px;
  }
  .products {
    height: 860px;
  }
  .products .products__content {
    padding-top: 10px;
  }
  .products .products__content .content__title .title__name {
    font-size: 18px;
    margin-top: 15px;
  }
  .products .products__content .content__title .title__logo {
    margin-right: 0;
    height: 40px;
  }
  .contacts {
    height: 180px;
    flex-wrap: wrap;
  }
  .contacts .contacts__social-networks,
  .contacts .contacts__address {
    flex-basis: 100%;
  }
}
@media (max-width: 550px) {
  .products .products__content {
    padding: 80px 2.5% 0;
  }
  .specials .specials__content {
    margin: 0 2.5%;
  }
  .main-product .main-product__name,
  .main-product .main-product__describe,
  .main-product .main-product__detailed {
    left: 2.5%;
  }
  .products .products__content {
    padding-top: 10px;
  }
  .specials .specials__content .content__wrapper {
    width: 350px;
  }
  .pages {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    color: red;
  }
  .pages a {
    flex-basis: 33.3%;
  }
  .pages a:not(:first-child) {
    margin-left: 0;
  }
  .pages a:last-child {
    margin-left: 33.3%;
  }
  .politics .politics__content span {
    font-size: 8px;
  }
}
@media (max-width: 430px) {
  .products {
    height: 1610px;
  }
  .products .products__content .content__wrapper .wrapper__item {
    width: 50.1%;
  }
  .politics .politics__content span {
    font-size: 6px;
  }
}
@media (max-width: 380px) {
  .phone {
    font-size: 13px;
  }
  .connection,
  .main-product__detailed {
    width: 130px;
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
    font-size: 12px;
  }
  .services {
    height: 60px;
  }
  .services a {
    line-height: 40px;
    font-size: 12px;
  }
  .products .products__content .content__title .title__name {
    font-size: 15px;
  }
  .products .products__content .content__title .title__logo {
    margin-top: 7.5px;
    width: 100px;
  }
  .specials .specials__content .content__wrapper {
    width: 300px;
  }
  .main-product {
    height: 250px;
    background-size: 800px auto;
  }
  .main-product .main-product__name,
  .main-product .main-product__describe,
  .main-product .main-product__detailed {
    position: absolute;
    left: 5%;
  }
  .main-product .main-product__name {
    top: 20px;
    font-size: 30px;
  }
  .main-product .main-product__describe {
    font-size: 12px;
    top: 100px;
    width: 180px;
  }
  .main-product .main-product__detailed {
    top: 180px;
  }
}