$colorGray: #efefef;
$colorAccent: #66c05d;
$colorDark: #333333;

$contentIndentation: 20%;

$pagesHeight: 50px;
$infoHeight: 120px;

$servicesHeight: 60px;
$mainProductHeight: 604px;

$contactsHeight: 120px;
$politicsHeight: 64px;
